main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.small-carousel {
  max-width: 70%; /* Adjust the width of the carousel */
  max-height: 300px; /* Adjust the height of the entire carousel */
  margin: 0 auto; /* Center the carousel horizontally */
}

.small-carousel img {
  max-height: 300px; /* Reduce image height */
  object-fit: cover; /* Make sure the image fits within the dimensions */
}

.carousel-caption {
  bottom: 10px; /* Adjust the position of the caption */
}

.carousel-caption h2 {
  font-size: 1rem; /* Reduce the font size for captions */
}


.Outofstock{
  color: #d83333;
}
.InStock{
  color:#2F9B6A;
}
.custom-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.custom-button .fa-times {
  color: black;
  font-size: 16px;
  font-weight: lighter; 
}

.custom-button:hover {
  background-color: transparent;
  border: none;
}
.separator {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.shippmsg{
  color:#1f5b83;
  background-color: #d6eaf8;
  border-color: #aed6f1;
  margin-top: 2rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border-radius: 0.3rem;
  
}
